#about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 115px 10%;
    height: 100vh;
}

h2 {
    letter-spacing: .075em;
}

.skills {
    display: flex;
    flex-direction: column;
    width: 35%;
    display: block;
}

.skills img {
    display: right;
    height: 65%;
    width: auto;
}

.summary {
    width: 40%;
    text-align: left;
    line-height: 1.5em;
    text-align: justify;
}



@media screen and (max-width: 1000px) {
    #about {
        display: flex; 
        flex-direction: column;
        justify-content: space-evenly;
        margin: 15% 5%;
        align-items: center;
    }
    .skills img {
        margin: 15vh 0 5vh -19vw;
        height: 375px;
        width: 70vw;
        object-fit: cover;
    }
    .summary {
        width: 80%;
        margin-bottom: 25vh;
    }
}

@media screen and (max-width: 800px) {
    #about {
        margin-top: -25%;
    }
    .skills img {
        margin: -55vh 0 -35vh -19vw;
    }
    .summary {
        margin-top: -17%;
        margin-bottom: -95vh;
    }
}

@media screen and (max-device-height: 825px) {
    #about {
        margin-top: -30vh;
    }
}

@media screen and (max-device-height: 750px) {
    #about {
        margin-top: -23vh;
    }
}

@media screen and (max-device-height: 670px) {
    #about {
        margin-top: -15vh;
    }
}