@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Work+Sans&display=swap');

.App {
  text-align: center;
  font-family: 'Work Sans', sans-serif;;
  height: 100%;
  color: black;
}

.App-header {
  width: 100%;
  min-height: 100vh;
  color: black;
}

a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(180, 131, 131);
}

@media screen and (max-width: 800px) {
  .App-header {
    margin-bottom: 75vh;
  }
}