#contact-me { 
    background: linear-gradient(35deg, #ffffff 65%, #f79f99 45%);
    position: absolute;
    width: 100% !important;
    overflow-x: hidden !important;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.helloText {
  margin-top: 13vw;
}

.helloText h1 {
  font-size: 5vw;
}

.helloText p {
  font-size: 1.7vw;
}

.sayHello {
    position: absolute;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    padding: 1%;
    font-size: 17px;
    margin-left: -75px;
    margin-top: 50px;
}
