#contact-me { 
    background: linear-gradient(35deg, #ffffff 65%, #f79f99 45%);
    position: absolute;
    width: 100% !important;
    overflow-x: hidden !important;
    height: 100vh;
    /* text-align: left; */
    display: flex;
    justify-content: center;
}

.helloText {
  margin-top: 150px;
}

.helloText h1 {
  font-size: 55px;
}

.helloText p {
  font-size: 19px;
}

.sayHello {
    position: absolute;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    padding: 1%;
    font-size: 17px;
    margin-left: -75px;
    margin-top: 50px;
}


/*   
  .contactText {
    width: 28%;
    float: left;
    padding: 12% 0% 0% 15%;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
  }

  .contactText img {
      max-height: 90px;
      object-fit: contain;
      margin-left: -55px;
  }
  
  .contactBox {
    width: 45%;
    float: right;
    display: inline-block;
    padding: 12% 1% 0% 0%;
    margin: 0px 0px 5% 2.5%;
  }
  
  #nameBox, #emailBox, #messageBox {
    border: 1px solid black;
    width: 68%;
    padding: 1.25%;
  }
  
  #nameBox, #emailBox {
    height: 20px;
  }
  
  #messageBox {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #sendMail {
    text-transform: uppercase;
    letter-spacing: .15em;
    background-color: white;
    color: black;
    border: 1.25px solid black;
    padding: 10px 20px;
    font-size: 1.1vw;
    margin-top: 15px;
  }
  
  #sendMail:hover {
    color: grey;
  } */