.footer {
    font-size: 25px;
    width: 98%;
    margin-left: 2%;
    font-style: italic;
    position: fixed;
    letter-spacing: .25em;
    background-color: white;
    bottom: 0;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
  }

#footer-right {
  float: right;
  width: 20%;
}
  
.linkedin, .github {
  padding: 5px;
}

.email {
  padding: 0px 8% 0px 5px;
}