
.project-page {
    margin: 125px 22.5%;
}

.project-page h2 {
    letter-spacing: .2em;
}

.project-page p {
    margin: 0 5% 50px 5%;
    line-height: 1.5em;
    font-weight: 100;
    text-align: justify;
}

.page-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    text-align: left;
    line-height: 1.5em;
}

.page-bottom-left {
    border-right: 1px solid black;
    width: 55%;
    padding: 10px 0px;
}

.page-bottom-left a, .page-bottom-left a:visited {
    color: #f79f99;
}

@media screen and (max-width: 1000px) {
    .project-page {
        margin: 125px 5%;
    }
    .page-bottom {
        display: flex; 
        flex-direction: column;
    }
    .page-bottom-left {
        border-bottom: 1px solid black;
        border-right: 0px;
        margin-bottom: 7px;
    }
    .page-bottom-right {
        margin-top: -25px;
    }
}